body{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding:0;
    margin:0;
    height: 100vh;
    width: 100vw;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}
.logo{
    position: absolute;
    top: 4%;
    left: 4%;
}
.logoSvg{
    width: 24vw;
}

.loginImage{
    position: absolute;
    top: 4%;
    right: 4%;
    width: 15vw;
    border-radius: 100%
}
.loginAction{
    opacity:0;
    z-index: -99999;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.signupButton{
    background:#EDC02C;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding: 2vw 0;
    margin: 0;
}
.loginButton
{
color: black;
font-size: 0.8em;
}
.connexionText{
    color: black;
    font-size: 1.1em;
    font-weight: 400;
}
.signupImage{
    width: 30vw;
}
.signupAction{
    opacity:0;
    z-index: -99999;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.input{
    width: 45vw;
    height: 5vh;
}
.login{
    opacity:0;
    z-index: -99999;
    position: absolute;
    width: 75vw;
    background-color: white;
    color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    top: 20vh;
    left: 13vw;
    border-radius: 10px;
}
.logForms{
    margin-top: 25vh;
}
.downBar{
    width: 100%;
    background-color: white;
    height: 10vh;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between
}
.searchBar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12%;
    border-radius: 40px;
    background: white;
    align-items:center;
}
.searchInput{
    width: 90%;
    height: 6vh;
    font-size: 1em;
    background: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: #EDC02C;
    margin-left: 5vw;
}
.searchInput::placeholder
{
    color: #EDC02C;
}
.geolocImage
{
    width: 8vw;
    margin-right: 3vw;
}
.downIcon{
    width: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.logs{
    opacity:0;
    z-index: -99999;
    font-weight: 300;
}

.launcher{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 68vh;
    opacity:0;
    z-index: -99999;
}
.launch{
    height: 5vh;
    font-size: 8vw;

    background-color: antiquewhite;
    justify-content: center;
}
.canceller{
    height: 5vh;
    font-size: 8vw;    

    background-color: antiquewhite;
    justify-content: center;
}
.progressBar{
    width: 100%;
    position: absolute;
    bottom: 12vh;
    display: flex;
    justify-content: space-between;
    opacity:0;
    z-index: -99999;
}
.infos{
    margin-left: 10vw;
    margin-right: 10vw;
}

.visible{
    opacity:1;
    z-index: 99999;
}