body{
    padding:0;
    margin:0;
    height: 100vh;
    width: 100vw;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}
.logo{
    position: absolute;
    top: 4%;
    left: 4%;
}
.logoSvg{
    width: 24vw;
}
.loginMenu{
    position: absolute;
    top: 4%;
    right: 0%;
    height: 100%;
    width: 100%;
}
.loginImage{
    position: absolute;
    top: 4%;
    right: 4%;
    width: 15vw;
    border-radius: 100%
}
.loginAction{
    opacity:0;
}
.signupAction{
opacity:0
}
.login{
    opacity:0;
    position: absolute;
}
.downBar{
    width: 100%;
    background-color: antiquewhite;
    height: 10vh;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between
}
.searchBar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12%
}
.searchInput{
    width: 90%;
    height: 6vh;
    border-radius: 40px;
    font-size: 5vw;
    display: flex;
    align-items: center;
    padding-top: 2vh;
    padding-left: 20px;
    border: none;
}

.downIcon{
    width: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
}