body{
    padding:0;
    margin:0;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}
.logo{
    position: absolute;
    top: 4vh;
    left: 5vw;
    width: 15vw;
}

.loginImage{
    position: absolute;
    top: 4vh;
    right: 5vw;
    width: 15vw;
    border-radius: 100%
}
.loginAction{
    opacity:0;
    z-index: -99999;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.signupAction{
    opacity:0;
    z-index: -99999;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.input{
    width: 60vw;
    height: 4vh;
    margin-left: 15vw
}
.submitter{
    width: 30vw;
    height: 4vh;
    margin-left: 30vw
}
.login{
    opacity:0;
    z-index: -99999;
    position: absolute;
    height: 55vh;
    width: 90vw;
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    top: 9vh;
    left: 5vw;
}
.logForms{
    margin-top: 25vh;
}
.downBar{
    width: 100%;
    background-color: antiquewhite;
    height: 10vh;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between
}
.searchBar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 13vh
}
.searchInput{
    width: 90vw;
    height: 7vh;
    border-radius: 40px;
    font-size: 5vw;
    display: flex;
    align-items: center;
    padding-top: 2vh;
    padding-left: 20px;
    border: none;
}
.start{
    width: 10vw;
    height: 10vh;
    position: absolute;
    right: 10vw;
}


.downIcon{
    width: 7vw;
    margin-left: 12vw;
    margin-right: 12vw
}

.logs{
    opacity:0;
    z-index: -99999;
}

.launcher{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 68vh;
    opacity:0;
    z-index: -99999;
}
.launch{
    height: 6vh;
    font-size: 8vw;
    width: 90 vw;
    background-color: antiquewhite;
    justify-content: center;
}
.canceller{
    height: 5vh;
    font-size: 8vw;    
    width: 90 vw;
    background-color: antiquewhite;
    justify-content: center;
}
.progressBar{
    width: 100%;
    position: absolute;
    bottom: 12vh;
    display: flex;
    justify-content: space-between;
    opacity:0;
    z-index: -99999;
}
.infos{
    margin-left: 10vw;
    margin-right: 10vw;
}

.visible{
    opacity:1;
    z-index: 99999;
}

.downBarInfos{
    /* opacity:0;
    z-index: -99999; */
    position: absolute;
    height: 55vh;
    width: 76vw;
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-flow: column;
    top: 20vh;
    left: 11vw;
}
.datas{
    position: absolute;
    margin-left: 9vw
}

.map {
    width: 100vw;
    height: 94vh;
}

.card{
    width: 40vw;
    height: 15vh;
    position: fixed;
    top: 25%;
    left: 30vw;
    z-index: 1;
    background: white;
    border-radius: 10%;
    box-shadow: 10px 10px 50px #00000055;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.card .name{
    color: goldenrod;
}

.card .address{
    font-size: 10px;
}

.card .validate{
    bottom: 0;
}