body{
    padding:0;
    margin:0;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    z-index: 0;
    overflow: hidden;
}
.lottieAnimation{
    background-color: #1E1C26;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 5000000000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}
.lottieJson{
    width:50%;
}
.map{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.logo{
    position: absolute;
    top: 4vh;
    left: 5vw;
    width: 15vw;
    z-index: 1;
}

.loginImage{
    position: absolute;
    top: 4vh;
    right: 5vw;
    width: 15vw;
    border-radius: 100%;
    z-index: 2;
}
.loginAction{
    opacity:0;
    z-index: -99999;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.connexionText{
    color: black;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 4vh;
    margin-bottom: 0vh;
}
.signupAction{
    opacity:0;
    z-index: -99999;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.input{
    width: 60vw;
    height: 4vh;
    margin-left: 15vw;
    background: #EDC02C;
    border-style: none;
    border-radius: 5px;
    padding: 1vh 0;
    color:white;
}
.connexionFormText
{
    color: black;
    margin-left: 15vw;
}
.submitter{
    width: 30vw;
    margin-left: 30vw;
    padding: 1.5vh 2vw;
    background: #EDC02C;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 3vh;
    font-size: 1em;
}
.login{
    opacity:0;
    z-index: -99999;
    position: absolute;
    width: 90vw;
    background-color: white;
    color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    top: 18vh;
    left: 5vw;
    border-radius: 5px;
}
.welcomeText{
    color: black;
    font-size: 1.5em;
    font-weight: 400;
}
.closeButton{
    width: 8vw;
    position: absolute;
    right: 4vw;
    top: 4vw;
}

.finalCloseButton{
    width: 8vw;
    position: absolute;
    right: 4vw;
    top: 4vw;
}
.signupImage
{
    width: 40vw;
}
.signupButton
{
    padding: 2vh 0;
    background: #EDC02C;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
.loginButton
{
    font-size: 1em;
    color: black;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 2vh;
}
.logForms{
    margin-top: 25vh;
}
.downBar{
    width: 100%;
    background-color: white;
    height: 10vh;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
}
.searchBottomPanel{
    width:90vw;
    position: absolute;
    left: 5vw;
    bottom: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.searchBar{
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 5px;
    align-items: center;
    width: 70vw;
}
.searchInput{
    height: 7vh;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 5vw;
    font-size: 1em;
    padding: 0;
}
.searchInput::placeholder
{
    color: #EDC02C;
}
.searchBottomPanel a{
    height: 7vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.geolocIcon{
    width: 8vw;
    background: white;
    border-radius: 5px;
    padding: 2vw;
}
.start{
    height: 7vh;
    color: white;
    background: #EDC02C;
    border: none;
    padding: 0 5vw;
    border-radius: 0 5px 5px 0;
    font-size: 1em;
}
.downIcon{
    width: 7vw;
    margin-left: 12vw;
    margin-right: 12vw
}

.logs{
    opacity:0;
    z-index: -99999;
}

.launcher{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 75vh;
    opacity:0;
    z-index: -99999;
}
.launch{
    height: 8vh;
    font-size: 1.2em;
    width: 90vw;
    background-color: white;
    justify-content: center;
    color: #EDC02C;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}
.launch p{
    margin: 0;
}
.canceller{
    height: 5vh;
    font-size: 1em;
    width: 90vw;
    background-color: #C62727;
    justify-content: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
}
.canceller p
{
    margin: 0;
}
.progressBar{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    opacity: 0;
    z-index: -99999;
    background: white;
    align-items: center;
}
.progressBar .score
{
    align-items: flex-end;
    display: flex;
    width:15vw;
}
.progressBar .p
{
    margin-right: 1vw;
}
.progressBarInside
{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
}
.stopButton{
    height: 7vh;
}
.timer{
    font-size: 1.5em;
}
.birzProgress
{
    height: 5vh;
}

.profilePage{
    opacity: 0;
    z-index: -99999;
    position: absolute;
    height: 45vh;
    width: 76vw;
    background-color: white;
    display: flex;
    flex-flow: column;
    top: 20vh;
    left: 11vw;
    border-radius: 5px;
    color: #EDC02C;
    align-items: center;
}
.profileData{
    text-align: center;
}
.profileName{
    color: #EDC02C;
    font-size: 1.2em;
    margin: 0;
}
.profileScore
{
    color: black;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 2vh 0vw 5vh 0vw;
    font-size: 1.3em;
    font-weight: 300;
}
.profileScore span{
    margin-right: 1vw;
    line-height: 1;
}
.birzProfile{
    height: 3vh;
    margin-right: 1vw;
}
.disconnectButton{
    border-style: none;
    background: none;
    color: black;
    font-size: 0.9em;
}
.deleteAccountButton{
    color: #C62727;
    font-size: 0.9em;
}

.downBarInfos{
    opacity: 0;
    z-index: -99999;
    position: absolute;
    height: 55vh;
    width: 76vw;
    background-color: white;
    display: flex;
    flex-flow: column;
    top: 20vh;
    left: 11vw;
    border-radius: 5px;
    color: #EDC02C;
    align-items: center;
}
.leader{
    display: flex;
    width: 50vw;
    justify-content: flex-start;
}
.friendImage{
    height: 9vh;
    margin-right: 5vw;
}
.friendScore{
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 300;
    flex-direction: column;
    align-items: flex-start;
}
.friendName{
    margin: 0;
    color: #EDC02C;
    font-size: 1.3em;
}
.friendScoreDisplay{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10vw;
}
.friendScoreDisplay p{
    margin-right: 1vw;
}
.birzFriend{
    height:2.5vh;
}
.endScreen{
    opacity: 0;
    z-index: -99999;
    position: absolute;
    height: 55vh;
    width: 76vw;
    background-color: white;
    display: flex;
    flex-flow: column;
    top: 20vh;
    left: 11vw;
    border-radius: 5px;
    color: #EDC02C;
    align-items: center;
}
.datas{
    opacity: 0;
    margin-top: 4vh;
    position: absolute;
}
.friendsTitle, .historyTitle, .Title
{
    text-align: center;
    font-size: 2.2em;
}
.map {
    width: 100vw;
    height: 94vh;
}

.card{
    width: 40vw;
    height: 15vh;
    position: fixed;
    top: 25%;
    left: 30vw;
    z-index: 1;
    background: white;
    border-radius: 10%;
    box-shadow: 10px 10px 50px #00000055;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.card .name{
    color: goldenrod;
}

.card .address{
    font-size: 10px;
}

.card .validate{
    bottom: 0;
}
.visible{
    opacity:1;
    z-index: 99999;
}


.visibleImportant{
    opacity:1;
    z-index: 99999;
}
